html, body{
	height:100%;
}
body{
	margin:0;
	background-color:rgb(4,16,89);
	color:rgb(255,255,255);
	display:block;
	font-family: arial, helvetica, sans-serif;
}

h1{
	/* this makes sure that the column doesnt have a gap at the top */
	margin-top:0;
}

a, a:visited{
	color: White;
}

a:hover{
	color: #cccccc;
}

#navcontainer{
	height:0;
}

#navcontainer ul{
	padding-left: 0;
	margin-left: 0;
	/*background-color: #036;*/
	background-color: rgb(3,11,63);
	color: White;
	float: left;
	width: 100%;
	font-family: arial, helvetica, sans-serif;
}

#navcontainer ul li{
	display: inline;
}

#navcontainer ul li a{
	padding: 0.2em 1em;
	/*background-color: #036;*/
	background-color: rgb(3,11,63);
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

#navcontainer ul li a:hover{
	background-color: rgb(49,59,119);
	/*background-color: #369;*/
}

#navcontainer ul li a#current{
	background-color:rgb(114,17,17);
}

#wrapper{
	background-color:rgb(0,51,76);
	max-width: 960px;
	margin-left:auto;
	margin-right:auto;
	min-height:100vh;
}

#content{
	margin-left:1.5em;
	margin-right:1em;
	padding-bottom:1em;
}

figure.image{
	float:right;
	clear:right;
	margin-right:2em;
	margin-left:2em;
	margin-top:0;
	margin-bottom:0;
}
figure.image > img{
	border: 1.5px solid black;
}

@media screen and (max-width: 697px){
	#navcontainer ul li{
		float: none;
	}
	#navcontainer ul li a{
		width: 100%;
		text-align: center;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
	}
	#navcontainer ul li:first-child a{
		border-top: none;
	}
	#navcontainer ul li:last-child a{
		border-bottom: none;
	}
}